<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
version="2.5">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>com.coco.wust4coco.servlets.RegServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.coco.wust4coco.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>JsonServlet</servlet-name>
    <servlet-class>com.coco.wust4coco.servlets.JsonServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegValiServlet</servlet-name>
    <servlet-class>com.coco.wust4coco.servlets.RegValiServlet</servlet-class>
  </servlet>
 
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>WelValiServlet</servlet-name>
    <servlet-class>com.coco.wust4coco.servlets.WelValiServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.coco.wust4coco.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SortServlet</servlet-name>
    <servlet-class>com.coco.wust4coco.servlets.SortServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FindServlet</servlet-name>
    <servlet-class>com.coco.wust4coco.servlets.FindServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>com.coco.wust4coco.servlets.DeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>com.coco.wust4coco.servlets.UpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AllFilmServlet</servlet-name>
    <servlet-class>com.coco.wust4coco.servlets.AllFilmServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DetailFilmServlet</servlet-name>
    <servlet-class>com.coco.wust4coco.servlets.DetailFilmServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddFilmServlet</servlet-name>
    <servlet-class>com.coco.wust4coco.servlets.AddFilmServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteFilmServlet</servlet-name>
    <servlet-class>com.coco.wust4coco.servlets.DeleteFilmServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SessionServlet</servlet-name>
    <servlet-class>com.coco.wust4coco.servlets.SessionServlet</servlet-class>
  </servlet>


 <filter>
      <filter-name>LoginFilter</filter-name>
      <filter-class>com.coco.wust4coco.filter.LoginFilter</filter-class>
  </filter>
  <filter>
      <filter-name>AdminFilter</filter-name>
      <filter-class>com.coco.wust4coco.filter.AdminFilter</filter-class>
  </filter>
  
  
  
  
  
  <filter-mapping>
      <filter-name>LoginFilter</filter-name>
      <url-pattern>/index.html</url-pattern>
  </filter-mapping>
  <filter-mapping>
      <filter-name>AdminFilter</filter-name>
      <url-pattern>/admincoco.html</url-pattern>
  </filter-mapping>
      <filter-mapping>
      <filter-name>AdminFilter</filter-name>
      <url-pattern>/usermanage.html</url-pattern>
  </filter-mapping>
  <filter-mapping>
      <filter-name>AdminFilter</filter-name>
      <url-pattern>/moviemanage.html</url-pattern>
  </filter-mapping>



  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/servlet/RegServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JsonServlet</servlet-name>
    <url-pattern>/servlet/JsonServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegValiServlet</servlet-name>
    <url-pattern>/servlet/RegValiServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>WelValiServlet</servlet-name>
    <url-pattern>/servlet/WelValiServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/servlet/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SortServlet</servlet-name>
    <url-pattern>/servlet/SortServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindServlet</servlet-name>
    <url-pattern>/servlet/FindServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/servlet/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/servlet/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AllFilmServlet</servlet-name>
    <url-pattern>/servlet/AllFilmServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DetailFilmServlet</servlet-name>
    <url-pattern>/servlet/DetailFilmServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddFilmServlet</servlet-name>
    <url-pattern>/servlet/AddFilmServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteFilmServlet</servlet-name>
    <url-pattern>/servlet/DeleteFilmServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SessionServlet</servlet-name>
    <url-pattern>/servlet/SessionServlet</url-pattern>
  </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
  
</web-app>